.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--features {
  padding-top: 0;
}

.section--team {
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

.section--portfolio {
  padding-bottom: 124px;
}
